GOOGLE_GENAI_USE_VERTEXAI="true"
GOOGLE_CLOUD_PROJECT=""
GOOGLE_CLOUD_LOCATION="global"
BENTORUN_MCP_URL="" # https://mcp-python-sandbox-.....run.app/mcp for Cloud Run or http://localhost:8080/mcp for local Docker
# GEMINI_API_KEY=""
